#page_container {
  /*width: 80%;*/
  max-width: 1020px;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
  transition: opacity 500ms ease-in;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  z-index: 0 !important;
}

.visible {
  opacity: 1;
  transition: opacity 500ms ease-in;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
}



circle {
  /*fill: #f6e8c3;*/
  fill-opacity: .00;
  stroke: #463E3F;
  stroke-width: 1px;
  stroke-opacity: .5;
}

.year_circle {
  fill: #327CCB;
  fill-opacity: .15;
  stroke: #327CCB;
  cursor: pointer;
}

.individual circle {
  fill: #5ab4ac;
  stroke-width: 0px;
  fill-opacity: 1;
}

.clear {
  clear: both;
}

.sub_cand {
  float: left;
}

.active circle {
  stroke-width: 2px;
  stroke-opacity: .75;
}

.pac circle {
  fill: #8c510a;
  stroke-width: 0px;
  fill-opacity: 1;
}

.cycle_message span{
  margin-right: 15px;
}

#years {
  margin: 25px 0;
  height: 105px;
}

.year {
  float: left;
  display: block;
}

#candidates {
  margin: 25px 0 0 0;
}

.candidate {
  float: left;
  display: block;
  margin-right: 50px;
}

.candidate:hover {
  cursor: pointer;
}

.vizTooltip {
  height: auto;
  width: auto;
  z-index: 1000;
  position: absolute;
  background: white;
  padding: 20px;
  border-radius: 5px;
  border 2px solid black;
}

#candidate_detailed_view {
  width: auto;
}

.cand_message {
  width: 250px;
}

.contributionContainer {
  float: left;
  display: block;
}

.topRow {
  float: left;
  display: block;
}

@media (max-width: 500px) {
  .contributionContainer { margin: 0px 10px 20px 10px;}
  .topRow { margin: 40px 10px; }
}

@media (min-width: 501px) {
  .contributionContainer { margin: 0px 80px 20px 80px;}
  .topRow { margin: 40px 80px; }
}

.politicianMessage {
  margin-top: 43px;
}

.politicianMessage .name {
  font-size: 24px;
}

.politicianMessage .party_state {
  font-weight: bold;
}

.politicianMessage .democrat {
  color: #336699;
}

.politicianMessage .republican {
  color: #e91d0e;
}

.politicianMessage .independent {
  color: green;
}
.contribution_table td {
  padding: 4px 30px 0 0;
}

.select_branch {
  padding-top: 15px;
}

.select_branch li {
  color: white;
  background: #5ab4ac;
  margin-right: 15px;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.select_branch li:hover {
  background: #278179;
}

.select_branch .active {
  background: #278179;
  border: 1px solid blue;
}

.credits img {
 margin-right: 40px;
}

.legend {
  margin-top: 15px;
}
